//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/reset.h>
#define ZMK_POINTING_DEFAULT_SCRL_VAL 26
#include <dt-bindings/zmk/mouse.h>

#define BASE     0
#define GAMING   1
#define GAMING2  2
#define LSEL     3
#define NAV      4
#define NUM      5
#define FUN      6
#define SWITCH   7
#define SYM      8
#define SYM2     9
#define TMUX     10
#define VIM      11
#define DEVICE   12

#include "behaviors.dtsi"
#include "combos.dtsi"

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                &kp B  &kp L  &kp D                      &kp W          &kp EXCL                   /**/  &kp QUESTION               &kp F          &kp O                      &kp U      &kp J
                &kp N  &kp R  &kp T                      &kp S          &kp G                      /**/  &kp Y                      &kp H          &kp A                      &kp E      &kp I
&lt DEVICE ESC  &kp Q  &kp X  &kp M                      &kp C          &kp V                      /**/  &kp K                      &kp P          &kp DOT                    &kp COMMA  &kp FSLH  &device_caps DEVICE 0
                              &num_layer_sticky NUM NUM  &lt NAV SPACE  &sym_shift SYM LEFT_SHIFT  /**/  &sym_shift SYM LEFT_SHIFT  &lt NAV SPACE  &num_layer_sticky NUM NUM
            >;
        };

        gaming {
            label = "GAMING";
            bindings = <
                &kp TAB    &kp Q  &kp W  &kp E      &kp R          /**/  &kp T                      &kp Y          &kp U                      &kp I      &kp O
                &kp LSHFT  &kp A  &kp S  &kp D      &kp F          /**/  &kp G                      &kp H          &kp J                      &kp K      &kp L
&lt DEVICE ESC  &kp LCTRL  &kp Z  &kp X  &kp V      &lt GAMING2 B  /**/  &none              &kp N          &kp M                      &kp COMMA  &kp DOT  &device_caps DEVICE 0
                                  &kp C  &kp SPACE  &kp LALT       /**/  &sym_shift SYM LEFT_SHIFT  &lt NAV SPACE  &num_layer_sticky NUM NUM
            >;
        };

        gaming2 {
            label = "GAMING2";
            bindings = <
              &none  &none  &none   &none   &none   /**/  &none   &none   &none   &none  &none
              &none  &none  &none   &none   &none   /**/  &none   &none   &none   &none  &none
&none         &none  &none  &none   &none   &none   /**/  &none   &none   &none   &none  &none  &none
                            &trans  &trans  &trans  /**/  &trans  &trans  &trans
            >;
        };

        layer_select {
            label = "LSEL";
            bindings = <
              &none         &none        &none        &caps_word    &none   /**/  &none   &caps_word    &none        &none        &none
              &tog_on NAV   &none        &tog_on SYM  &tog_on SYM2  &none   /**/  &none   &tog_on SYM2  &tog_on SYM  &none        &tog_on NAV
&none         &tog_on TMUX  &tog_on FUN  &tog_on NUM  &tog_on VIM   &none   /**/  &none   &tog_on VIM   &tog_on NUM  &tog_on FUN  &tog_on TMUX  &none
                                         &trans       &trans        &trans  /**/  &trans  &trans        &trans
            >;
        };

        nav {
            bindings = <
              &kp ESC       &kp TAB   &kp ENTER  &kp BACKSPACE  &kp DEL         /**/  &kp DEL         &kp BACKSPACE  &kp ENTER  &kp TAB    &kp ESC
              &kp LCTRL     &kp LGUI  &kp LALT   &kp LSHFT      &msc SCRL_DOWN  /**/  &msc SCRL_DOWN  &kp RSHFT      &kp RALT   &kp RGUI   &kp RCTRL
&none         &msc SCRL_UP  &kp LEFT  &kp UP     &kp DOWN       &kp RIGHT       /**/  &kp LEFT        &kp DOWN       &kp UP     &kp RIGHT  &msc SCRL_UP  &none
                                      &trans     &trans         &trans          /**/  &trans          &trans         &trans
            >;
        };

        num {
            bindings = <
              &select_sym   &kp KP_N9  &kp KP_N8  &kp KP_N7   &none      /**/  &none      &kp BACKSPACE  &kp LPAR   &kp RPAR   &select_sym
              &select_sym2  &kp KP_N6  &kp KP_N5  &kp KP_N4   &none      /**/  &kp PRCNT  &kp KP_N0      &kp DOT    &kp EQUAL  &select_sym2
&tog_on FUN   &select_num   &kp KP_N3  &kp KP_N2  &kp KP_N1   &kp KP_N0  /**/  &kp ASTRK  &kp PLUS       &kp MINUS  &kp FSLH   &select_num   &tog_on FUN
                                       &trans     &kp KP_DOT  &trans     /**/  &trans     &kp KP_DOT     &none
            >;
        };

        fun {
            label = "FUN";
            bindings = <
              &kp F12  &kp F9  &kp F8  &kp F7  &none   /**/  &none  &kp F7  &kp F8  &kp F9  &kp F12
              &kp F11  &kp F6  &kp F5  &kp F4  &none   /**/  &none  &kp F4  &kp F5  &kp F6  &kp F11
&tog_off FUN  &kp F10  &kp F3  &kp F2  &kp F1  &none   /**/  &none  &kp F1  &kp F2  &kp F3  &kp F10  &tog_off FUN
                               &trans  &trans  &trans  /**/  &none  &none   &none
            >;
        };

        switch_layer {
            label = "SWITCH";
            bindings = <
              &kp ESC  &none  &kp LS(TAB)  &kp TAB  &none  /**/  &none  &kp TAB  &kp LS(TAB)  &none  &kp ESC
              &kp ESC  &none  &kp LS(TAB)  &kp TAB  &none  /**/  &none  &kp TAB  &kp LS(TAB)  &none  &kp ESC
&none         &kp ESC  &none  &kp LS(TAB)  &kp TAB  &none  /**/  &none  &kp TAB  &kp LS(TAB)  &none  &kp ESC  &none
                              &kp Q        &kp ESC  &kp W  /**/  &kp W  &kp ESC  &kp Q
            >;
        };

        sym {
            label = "SYM";
            bindings = <
              &select_sym   &kp PLUS   &kp ASTRK  &kp PRCNT  &kp BSLH   /**/  &caps_word  &kp BACKSPACE  &kp AMPS  &kp PIPE  &select_sym
              &select_sym2  &kp MINUS  &kp UNDER  &kp EQUAL  &kp COLON  /**/  &kp HASH    &kp SQT        &kp DQT   &kp SEMI  &select_sym2
&none         &select_num   &kp LBRC   &kp LPAR   &kp RPAR   &kp RBRC   /**/  &kp AT      &kp LBKT       &kp RBKT  &kp FSLH  &select_num   &prog_caps
                                       &trans     &trans     &trans     /**/  &trans      &trans         &trans
            >;
        };

        sym2 {
            label = "SYM2";
            bindings = <
              &select_sym   &none      &none      &none      &none     /**/  &none   &kp BACKSPACE  &none   &none  &select_sym
              &select_sym2  &kp CARET  &kp LT     &kp GT     &kp DLLR  /**/  &none   &none          &none   &none  &select_sym2
&none         &select_num   &none      &kp TILDE  &kp GRAVE  &none     /**/  &none   &none          &none   &none  &select_num   &none
                                       &trans     &trans     &trans    /**/  &trans  &trans         &trans
            >;
        };

        tmux {
            label = "TMUX";
            bindings = <
              &none             &none  &tmux_split_vert      &tmux_split_horiz  &none                /**/  &tmux_choose_session  &none              &none              &none               &none
              &tmux_sync_panes  &none  &tmux_new_window      &tmux_zoom         &tmux_choose_window  /**/  &tmux_session_prev    &tmux_window_prev  &tmux_window_next  &tmux_session_next  &none
&none         &none             &none  &tmux_command_prompt  &tmux_copy_mode    &none                /**/  &tmux_pane_left       &tmux_pane_down    &tmux_pane_up      &tmux_pane_right    &none  &none
                                       &trans                &trans             &trans               /**/  &trans                &trans             &trans
            >;
        };

        vim {
            label = "VIM";
            bindings = <
              &none  &none  &kp LBKT  &none    &none      /**/  &none           &none             &none             &none           &none
              &none  &kp S  &kp LPAR  &kp DQT  &kp LT     /**/  &vim_prev_diag  &vim_prev_change  &vim_next_change  &vim_next_diag  &none
&none         &none  &none  &kp LBRC  &kp SQT  &kp GRAVE  /**/  &none           &none             &none             &none           &none  &none
                            &kp P     &kp W    &kp LS(W)  /**/  &trans          &trans            &trans
            >;
        };

        device {
            bindings = <
              &to BASE  &to GAMING  &none                 &none                 &none       /**/  &bt BT_CLR  &none         &none         &none         &none
              &none     &kp C_MUTE  &kp C_VOLUME_UP       &kp C_VOLUME_DOWN     &none       /**/  &none       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none
&trans        &none     &none       &kp C_BRIGHTNESS_INC  &kp C_BRIGHTNESS_DEC  &none       /**/  &none       &bt BT_SEL 3  &bt BT_SEL 4  &none         &none  &trans
                                    &kp C_PREV            &kp C_PLAY_PAUSE      &kp C_NEXT  /**/  &none       &none         &none
            >;
        };

    };

    /*
    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <NAV NUM>;
            then-layer = <DEVICE>;
        };
    };
    */
};
